[submodule "pynsy/demos/haiku"]
	path = pynsy/demos/haiku
	url = https://github.com/dan-zheng/dm-haiku
[submodule "pynsy/demos/flax"]
	path = pynsy/demos/flax
	url = git@github.com:dan-zheng/flax.git
[submodule "pynsy/demos/pytorch_examples"]
	path = pynsy/demos/pytorch_examples
	url = git@github.com:dan-zheng/pytorch-examples.git
[submodule "pynsy/demos/tensorflow_examples"]
	path = pynsy/demos/tensorflow_examples
	url = git@github.com:tensorflow/examples.git
[submodule "pynsy/demos/tensorflow_models"]
	path = pynsy/demos/tensorflow_models
	url = git@github.com:tensorflow/models.git
[submodule "pynsy/demos/praxis"]
	path = pynsy/demos/praxis
	url = git@github.com:google/praxis.git
[submodule "pynsy/demos/t5x"]
	path = pynsy/demos/t5x
	url = git@github.com:google-research/t5x.git
