[submodule "pynsy/demos/haiku"]
	path = pynsy/demos/haiku
	url = https://github.com/dan-zheng/dm-haiku
[submodule "pynsy/demos/flax"]
	path = pynsy/demos/flax
	url = git@github.com:dan-zheng/flax.git
[submodule "pynsy/demos/pytorch_examples"]
	path = pynsy/demos/pytorch_examples
	url = git@github.com:dan-zheng/pytorch-examples.git
